@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.event {
  width: 280px;
  background-color: #FEFEFE;
  border: 1px solid #FDFDFD;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 10px -5px rgba(0,0,0,1);
  box-shadow: 0px 0px 10px -5px rgba(0,0,0,1);
  padding: 10px;
  
  margin: 60px auto;
  font-family: Roboto;
}

.event header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.event header img
{
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.event header h1
{
  margin: 0;
  margin-left: 10px;
}

.event div.content{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.event div.content div.date {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  text-align: center;
}

.event div.content div.date div.day{
  font-size: 50px;
}

.event div.content div.date div.month{
  font-size: 20px;
}

.event div.content div.data{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.event div.content div.data span.time{
  font-size: 30px;
}

.event div.content div.data span.registered{
  font-size: 12px;
  color: #AAAAAA;
  cursor: pointer;
  transition: 0.1s color ease-in-out;
}

.event div.content div.data span.registered span.number{
  transition: 0.3s opacity ease-in-out;
}

.event div.content div.data span.registered:hover{
  color: #000000;
}

.event footer{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin-top: 10px;
}

.event footer button {
  height: 40px;
  width: 125px;
  padding: 0 20px;
  line-height: 40px;
  border-radius: 4px;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.event footer button:focus {
  outline: none;
}

.event footer button.decline {
  color: #A0A0A0;
}

.event footer button.decline:hover {
  color: #f44336;
}

.event footer button.join {
  background-color: #1abc9c;
  color: #FFFFFF;
}

.event footer button.join:hover {
  -webkit-box-shadow: 0px 0px 10px -3px rgba(26,188,156,1);
  -moz-box-shadow: 0px 0px 10px -3px rgba(26,188,156,1);
  box-shadow: 0px 0px 10px -3px rgba(26,188,156,1);
}

.event footer button img.loader{
  height: 20px;
  width: 20px;
}
