/*------------------------------------------------GLOBAL----------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/

/*-----LEGENDE DE COULEUR-----*/

/*black : #0d0d0ef1;*/
/*Gold : rgb(247, 126, 14);
/*White :  rgb(233, 231, 231);*/
/*Grey : rgba(175, 173, 173, 0.863);*/
/*blue color body font : #1e2a36; */

* {
    font-family:'Open Sans', Verdana, Tahoma, sans-serif;
}

body { 
    background: #1e2a36 !important;
    width: 100%;
    background-size: 100%;
    position: relative;
}

h3 {
    font-family: 'Merriweather', 'Open Sans', Verdana;
    text-align: center;
    font-size: 1.4em; 
}

h2 {
    color: #E57373;
}

h4 {
    text-align: center;
    font-size: 2.0em;
    margin-top: -30px;
}

a {
    text-decoration: none !important;
    color: rgb(247, 126, 14);
}
label {
    color: rgb(185, 171, 171);
}

.signature {
    color: #E57373;
    text-align: right;
}

.separator {
    position: relative;
    display: block;
    content: "";
    height: 2px;
    width: 360px;
    background-color: rgba(255, 255, 255, 0.863);
    left: calc(50% - 190px);
    display: none;
}

/*---------------------------------------------HEADER-------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/

.header_content h1 {
    text-align: center;
    font-size: 2.8em;
    font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
    color: rgb(204, 191, 191);
    text-transform: uppercase;
    margin-block-start: 20px;
    margin-block-end: 20px;
}

.header_content h1 a {
    color: #1abc9c;
}

.header_content h1::before
{
	position: relative;
	display: block;
	content: "";
	height: 2px;
	width: 360px;
	background-color: rgba(255, 255, 255, 0.863);
	left: calc(50% - 190px);
}
.header_content h1::after
{
	position: relative;
	display: block;
	content: "";
	height: 2px;
	width: 360px;
	background-color: rgba(234, 237, 241, 0.863);
    left: calc(50% - 190px);
    top: 10px;
}

.header_content h2 {
    text-align: center;
    margin-block-start: 20px;
    margin-block-end: 20px;
    font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
    color: rgb(243, 224, 224);
}

/*---------------------------------------------MENU---------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/

#head_menu {
    display: none;
  }
  
#head_menu:checked ~ .menu {
    width: 900px;
    border-radius: 5px;
    background-color: transparent;
    border: 3px solid #1abc9c;
    height: 95px;
}

#head_menu:checked ~ .menu > ul {
    display: block;
    opacity: 1;
}
#head_menu:checked ~ .menu > .barry {
    display: none;
}

.menu {
    display: block;
    margin: 15px auto;
    width: 95px;
    height: 95px;
    background-color: #1abc9c;
    border: 4px solid transparent;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}
.menu div.barry {
    width: 40px;
    margin: 30px auto;
}
.menu div.barry .bar {
    display: block;
    width: 100%;
    height: 5px;
    margin: 4px auto;
    border-radius: 2px;
    background-color: #fff;
}
.menu ul {
    opacity: 0;
    display: none;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    list-style-type: none;
    padding: 0;
    width: 900px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 0;
}
.menu ul li {
    display: inline-block;
}
.menu ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 25px;
    color: #1abc9c;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    border: 3px solid transparent;
    border-radius: 5px;
}

.menu #pres {
    color: #1abc9c;
}

.menu ul li a:hover {
    border-color: #8d9c99;
}

.menu ul li a:target {
    border-bottom-color: #1abc9c;
}

/*---------------------------------------------ACCUEIL------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/

/*--------------------------Banner-------------------------*/

#slider {
    position: relative;
    margin: 0 250px 0 250px;				
    overflow: hidden;	
    border: 18px #1a242e solid;
    border-radius: 8px;			
}
#slider figure {
    position: relative;
	width: 500%;					
	margin: 0%;
	padding: 0%;
	font-size: 0%;
	text-align: left;
    animation: 30s slide infinite; 
    
}
#slider figure img {
	width: 20%;						
	height: 480px;
    float: left; 
}
@keyframes slide {
	0% {left: 0%;}					
	20% {left: 0%;}
	25% {left: -100%;}
	45% {left: -100%;}
	50% {left: -200%;}
	70% {left: -200%;}
	75% {left: -300%;}
	95% {left: -300%;}
	100% {left: -400%;}
}

/*-------------------------------SECTION--------------------------------*/

/*------------SECTION TWO-----------*/

#section_two {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-content: space-between;   
}

#resum {
    width: 50%;
    text-align: justify;
    margin: 80px 60px 0 0;
    color: rgb(243, 224, 224);
}

#title_resum {
    font-size: 2em;
    font-weight: 500;
    text-align: right;
}

/*----------SECTION THREE-----------*/
#section_three {
    margin-top: 80px; 
    background-color: #e2df29;
    width: 100%;
    overflow: hidden;
    padding: 5%;
    color: #1e2a36;
}

#list_section_three ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.logo_section_three {
    text-align: center;
    margin-left: -48px;
}

.logo_section_three img {
    border: 6px #1e2a36 solid;
    border-radius: 50%;	
    padding: 10px;
}

.logo_section_three img:hover {
    transition: 0.3s all ease-in-out;
    border: 6px #304963 solid;
}

.logo_section_three h2 {
    color: #1e2a36;
}

/*--------------------------------------------CALENDRIER----------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/

#title_calendar, #p_calendar {
    text-align: center;
}

.view-cap, .view-container-border {
    background-color: rgb(218, 18, 18) !important;
}

span.te-s {
    color: blue !important;
}


/*--------------------------------------------CONTACT------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/
#contact_form {
    text-align: center;
}

#contact_title {
    text-align: center;
}

#contact_form input {
    width: 400px;
    height: 32px;
    resize: none;
    border: 2px none white;
    border-radius: 5px;
    padding: 10px;
}

#contact_form textarea {
    width: 400px;
    resize: none;
    border: 2px none white;
    padding: 10px;
    border-radius: 5px;
    color: black;
}

#btn_contact {
    background: #3498db;
    text-align: center;
    position: relative;
    display: inline-flex;
    font-size: 0.8em;
    padding: 12px;
    font-family: 'Merriweather', 'Open Sans', Verdana;
    text-decoration: none;
    color: white;
    box-shadow: inset -4px -4px 0px 0px #207ab6;
    border-radius: 5px;
}

#btn_contact:hover, #btn_contact:focus {
    background: #218dd4;
    box-shadow: inset -6px -6px 0px 0px #2b95db;
}

#btn_contact:active {
    box-shadow: inset 4px 4px 0px 0px #2b95db;
}

#btn_contact:before, #btn_contact:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}

/*---------------------------------------------CLASSEMENT---------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
#form_classement,
#txt {
    text-align: center;
}

#table_classement {
    color: white;
    font-size: 1.7em;
    margin: 50px;
    display: flex;
    justify-content: center;
}

#table_classement th {
    border: 2px solid white;
    padding: 20px;
}

#table_class {
    display: flex;
}
.table-responsive1 {
    width: 5%;
}
.table-responsive1 th, td {
    padding: 12px;
}

.table-responsive1 th {
    color: #FFF;
    padding: 14px;
}

.table-responsive1 tr {
    color: rgb(247, 221, 221);
    background-color: none;
    text-align: center;
    font-weight: 800;
    font-size: 13px;
}

.table-responsive {
    width: 91%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

.table-responsive td {
    padding: 10px;
    text-align: left;
    border: solid 1px #ccc;
}

.table-responsive th {
    background-color: #e6be0b;
    color: #FFF;
    padding: 11px;
    border: solid 1px #ccc;
}

.table-responsive tr:nth-child(odd) {
    background-color: #eee;
}


/*----------------------------------------ADMINISTRATION-----------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
#connexion {
    margin-top: 30px;
    text-align: center;
}

#connexion input {
    border: 2px none white;
    border-radius: 5px;
    padding: 10px;
}

#list_comment,
#list_post {
    color: rgb(255, 250, 250);
    font-family: 'Courier New', Courier, monospace;
}

#list_point {
    text-align: center;
}

#list_point a {
    margin-bottom: 15px;
}

.adminH2 {
    background: rgb(233, 231, 231);
    text-align: center;
    font-family: 'Merriweather', 'Open Sans', Verdana;
    font-size: 0.85em;
    padding: 15px;
    text-decoration: none;
    color: rgb(41, 41, 40);
    box-shadow: inset -4px -4px 0px 0px rgb(34, 32, 32);
    margin: 40px 400px 0 400px;
    border-radius: 5px;
}

.adminParagraphe {
    font-size: 1.0em;
    font-weight: bold;
    color: rgb(212, 38, 81);
}

.title {
    width: 250px;
    resize: none;
    border: 2px none white;
    padding: 3px;
    border-radius: 5px;
    color: black;
}

#full-featured {
    height: 500px;
    resize: none;
}

#linkProfil {
    margin-top: 15px;
}

  /*-----------------------BUTTON CREATION EVENT-------------------*/
  .calendar__button {
    display: block;
    width: 52px !important;
    height: 52px;
    line-height: 52px;
    text-align: center;
    color: #FFF;
    font-size: 30px;
    background-color: #1abc9c;
    border-radius: 50%;

    box-shadow: 0 6px 10px 0 #0000001a,0 1px 18px 0 #0000001a,0 3px 5px -1px #0003;
    position: relative;
    left: calc(50% - 26px);
    margin-top: 10px;
    text-decoration: none;
    transition: transform 0.3s;
}

.calendar__button:hover {
    text-decoration: none;
    color: #FFF;
    transform: scale(1.2);
}

/*-----------------------------------------CONNEXION---------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------*/

#profil,
#form_connexion,
#form_inscription,
#inscription {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;

}
#inscription {
    margin-top: 40px;
}
#form_inscription {
    padding-top: 10px;
}
#text_inscription {
    margin-top: 40px;
}

#profil h2 {
    margin-bottom: 100px;
}

#link_admin {
    margin-top: 100px;
}

/*-------------------------------------------PRESENCE-------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
#presence input {
    background-color: #1abc9c;
}
#absence input {
    background: rgb(247, 126, 14);
}

/*--------------------------------------MODIFICATION---------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

#full-feat {
    height: 500px;
    resize: none;
}

/*---------------------------------------------ERROR PAGE---------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
#errorPage {
    background-color: #111111;
}

.board { 
  position: absolute;
  top: 50%;
  left: 50%;
  height: 150px;
  width: 500px;
  margin: 50px 0 0 -250px;
  padding: 20px;
  font: 75px/75px Monoton, cursive;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
  color: red;
}

#error { 
  color: #fff;
  text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
}

/*-----------------------------------FOOTER------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

footer {
    background: #1e2a36;
    margin-top: 60px;
    text-align: center;  
}

/*----------------------------------------------RESPONSIVE--------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/

/*------------------MAX-WIDTH 960PX-------------------------*/
/*-------------------------------------------*/

@media all and (max-width: 960px) {

    /**********************************HEADER***************************************/
    .header_content h1 {
        font-size: 2em;
    }
    .header_content h2 {
        font-size: 1.4em;
    }

    #tabs a {
        font-size: 1em;
    }

    /**********************************ACCUEIL***************************************/
    #section_one p,
    #section_two p {
        font-size: 0.82em;
    }

    #presentation {
        margin: 0 0 0 30px;
    }

    #resum {
        margin: 20px 30px 0 0;
    }

    /**********************************MENU***************************************/
      
    #head_menu:checked ~ .menu {
        width: 700px;
        border: 3px solid #1abc9c;
        height: 65px;
    }
    
    .menu {
        margin: 10px auto;
        width: 85px;
        height: 85px;
    }
    .menu div.barry {
        width: 40px;
        margin: 25px auto;
    }

    .menu ul {
        width: 700px;
    }

    .menu ul li a {
        padding: 1px 12px;
        font-size: 17px;
    }

    /********************************SLIDER****************************************/

    #slider {
        border: 10px #1a242e solid;		
    }

    #slider figure img {
        width: 20%;						
        height: 200px;
        float: left; 
    }

    /********************************SECTION****************************************/

    /*------------SECTION TWO-----------*/


    #resum {
        width: 96%;
        text-align: right;
        color: rgb(243, 224, 224);
    }

    #title_resum {
        font-size: 1.6em;
        font-weight: 500;
        text-align: right;
    }

    /*----------SECTION THREE-----------*/
    #section_three {
        margin-top: 30px; 
        font-size: 0.8em;
    }

    #resum_ranking {
        width: 100%;
        padding: 3%;
    }
    
    #title_ranking {
        margin-left: 20px;
        font-size: 2.5em;
    }

    #resum_ranking p {
        margin-left: 20px;
        font-size: 1.4em;
    }
    #resum_ranking a {
        font-size: 1.2em;  
    }

    /********************************CALENDRIER****************************************/
  
    .top_calendar {
        font-size: 0.8em;
    }

    .calendar__event {
        font-size: 0.8em;
    }
    .calendar_title {
        font-size: 2em;
    }

    .calendar__weekday {
        font-weight: initial;
        font-size: 0.9em;
    }
    
    .calendar__day {
        font-size: 0.9em;
    }
/*--------------------------------------------ADMINISTRATION--------------------------------------------------*/
    .adminH2 {
        font-size: 0.75em;
        padding: 12px;
        margin: 40px 200px 0 200px;
    }
    
}

/*------------------MAX-WIDTH 480PX-------------------------*/
/*-------------------------------------------*/

@media all and (max-width: 480px) {


   /**********************************HEADER***************************************/
   .header_content h1 {
    font-size: 1.8em;
    }

    .header_content h1::before {
	height: 3px;
	width: 160px;
	left: calc(50% - 80px);
    }

    .header_content h1::after {
	height: 3px;
	width: 160px;
    left: calc(50% - 80px);
    }

    .header_content h2 {
        font-size: 1em;
    }

    #tabs a {
        font-size: 0.8em;
    }

    /**********************************MENU***************************************/
      
    #head_menu:checked ~ .menu {
        width: 150px;
        border-radius: 5px;
        background-color: transparent;
        border: 3px none;
        height: 50px;
    }
    
    #head_menu:checked ~ .menu > ul {
        display: initial;  
    }
    
    .menu {
        display: table-cell;
        text-align: center;
        margin: 10px;
        width: 50px;
        height: 50px;
        background-color: #1e2a36;
        border: 4px solid transparent;
    }
    .menu div.barry {
        width: 15px;
        margin: 5px auto;
    }
    .menu div.barry .bar {
        display: block;
        width: 100%;
        height: 5px;
        margin: 4px auto;
        border-radius: 2px;
        background-color: #fff;
    }

    /********************************SLIDER****************************************/

    #slider {
        display: none;	
    }

    /********************************SECTION****************************************/

    /*------------SECTION TWO-----------*/
    
    #title_resum {
        text-align: left;
        margin-left: 10px;
    }

    #section_two p {
        text-align: left;
        margin-left: 10px;
    }

    #resum {
        width: 90%;
        color: rgb(243, 224, 224);
    }
    
    /*----------SECTION THREE-----------*/
    #section_three {
        margin-top: 80px; 
        padding: 3%;
    }

    #list_section_three ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        margin-left: -18px;
    }

    .logo_section_three {
        text-align: center;
        padding: 5px;
    }

    .logo_section_three img {
        width: 60px;
        height: 60px;
        border: 8px #1e2a36 solid;
        border-radius: 50%;	
        padding: 8px;
    }

    .logo_section_three h2 {
        font-size: 0.95em;
    }

    /*----------SECTION FOOTER-----------*/

    footer {
        margin-top: 10px;
        font-size: 0.8em;
    }

    /********************************CALENDRIER****************************************/

    .calendar__table {  
        width: 95%;
        height: calc(100vh - 128px);
        margin: 5px;
    }
    .calendar__table td {
        padding: 8px;
        border: 2px solid rgb(143, 138, 138);
        vertical-align: top;
        width: 14.29%;
        height: 20%;
    }
    
    .calendar__table td.is-today {
        background-color: #f7e7ec5b;
    }
    
    .calendar__table--6weeks td {
        height:  16.66%;
    }
    
    .calendar__weekday {
        font-weight: bold;
        color: rgb(248, 240, 240);
        font-size: 1.2em;
    }

    .btn-select-calendar {
  
        display: inline-block;
        position: relative;
        left: 0;
        margin: 0 0 8px 0;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: #fff;
        font-size: 20px;
        font-weight: 800;
        background-color: rgb(247, 126, 14);
        border-radius: 50px;
    }
    
    .btn-select-calendar:hover {
        text-decoration: none;
        transform: scale(1.1);
    }

    .table-responsive1 {
        display: none;
    }

    .table-responsive {
        margin: 0 8px 8px 8px;
    }

    /********************************CONTACT****************************************/

    #contact_form input{
        width: 96%;
    }

    #contact_form textarea {
        width: 96%;
    }

    #btn_contact {
        margin-bottom: 10px;
    }

}